{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="cadastro">

<header class="topo">

<h1 class="titulo">Formulário</h1>

<nav>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
                <a href="/consulta/"><i class="fa-solid fa-magnifying-glass"></i> Consulta</a>
</nav>

</header>

<div class="cadastro1">

<h2>Cadastro de Livro</h2>

{% if erro %}
<p class="erro">{{ erro }}</p>
{% endif %}

<form method="POST">

{% csrf_token %}

<div class="input-box">
<input type="text" name="titulo" id="titulo" required>
<span>Título</span>
</div>

<div class="input-box">
<input type="text" name="autor" id="autor" required>
<span>Autor</span>
</div>

<div class="input-box">
<input type="text" name="editora" id="editora" required>
<span>Editora</span>
</div>

<div class="input-box">
<input type="number" name="ano_publicacao" id="ano_publicacao" required>
<span>Ano de Publicação</span>
</div>

<div class="input-box">
<input type="number" name="numero_paginas" id="numero_paginas" required>
<span>Número de Páginas</span>
</div>

<div class="input-box">
<input type="text" name="categoria" id="categoria" required>
<span>Categoria</span>
</div>

<div class="input-box">
<input type="text" name="isbn" id="isbn" required>
<span>ISBN</span>
</div>

<div class="input-box">
<input type="text" name="idioma" id="idioma" required>
<span>Idioma</span>
</div>

<div class="input-box">
<input type="text" name="edicao" id="edicao" required>
<span>Edição</span>
</div>

<div class="input-box">
<input type="text" name="descricao" id="descricao" required>
<span>Descrição</span>
</div>

<button class="submit-btn">Cadastrar</button>

</form>

</div>

<script src="{% static 'JS/JavaScript.js' %}"></script>

</body>
</html>
