{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midnight Library</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <ul>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
            </ul>
        </nav>
    </header>
    <center>
<div class="sobre">
    <h2>Entre em contato conosco</h2>
    <p>
        Caso tenha algum tipo de reclamação, dúvida ou sugestão de adição para o nosso sistema,
        entre em contato conosco através do e-mail: <a class="email-link" href="mailto:siri.cascudo123s@gmail.com">siri.cascudo123s@gmail.com</a>
    </p>
    <p>
Sua opinião é muito importante para que possamos continuar melhorando a Biblioteca Midnight.
</p>
</div>
</center>
</body>
</html>