{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>Consulta</h1>
        <nav>
            <ul>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
                <a href="/consulta/"><i class="fa-solid fa-magnifying-glass"></i> Consulta</a>
            </ul>
        </nav>
    </header>

    {% block content %}
    <center>
        <div class="sobre">
            <h2>Excluir Livro</h2>

            <form method="POST" class="input-box">
                {% csrf_token %}
                
                <div class="input-box">
                    <input type="text" value="{{ livro.titulo }}" readonly>
                    <span>Livro a ser removido</span>
                </div>

                <p style="color: #333; margin-bottom: 20px; font-size: 0.9em;">
                    Tem certeza que deseja apagar este registro?
                </p>

                <button type="submit" class="submit-btn" style="background-color: #1b1b1b;">
                    Confirmar Exclusão
                </button>
                
                <br><br>
                
                <a href="{% url 'detalhes' livro.id %}" style="color: #666; text-decoration: none; font-size: 0.8em;">
                   <h3> <i class="fa-solid fa-arrow-left"></i> Cancelar e voltar</h3>
                </a>
            </form>
        </div>
    </center>
    {% endblock %}
</body>
</html>