{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes - {{ livro.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <h1 class="logo-title">Formulário</h1>
        <nav class="top-nav">
            <ul>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
                <a href="/consulta/"><i class="fa-solid fa-magnifying-glass"></i> Consulta</a>
            </ul>
        </nav>
    </header>

    <center>
        {% block content %}
        <div class="sobre container-detalhes"> 
            <h2 class="titulo-livro">{{ livro.titulo }}</h2>

<div class="detalhes-info">
    <p class="info-item">
        <i class="fa-solid fa-user"></i> <strong>Autor:</strong> {{ livro.autor }}
    </p>
    <p class="info-item">
        <i class="fa-solid fa-calendar"></i> <strong>Ano:</strong> {{ livro.ano_publicacao }} </p>
    <p class="info-item">
        <i class="fa-solid fa-bookmark"></i> <strong>Categoria:</strong> {{ livro.categoria }} </p>
    <p class="info-item">
        <i class="fa-solid fa-language"></i> <strong>Idioma:</strong> {{ livro.idioma }} </p>
    
    <hr class="divisor">
    
    <div class="descricao-box">
        <strong>Descrição:</strong>
        <p class="texto-descricao">{{ livro.descricao }}</p>
    </div>
    <a href="{% url 'deletar' livro.id %}" class="submit-btn">
    <i class="fa-solid fa-trash"></i> Excluir Livro
</a><br><br><br>

            </div>

            <a href="{% url 'lista' %}" class="submit-btn btn-voltar">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </a>
        </div>
        {% endblock %}
    </center>
</body>
</html>