{% load static %} <!-- 1. Carregue a tag no topo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midnight Library</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="home">
    <header>
        <h1>Biblioteca Midnight🌙</h1>
        <nav>
            <ul>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
                <a href="/consulta/"><i class="fa-solid fa-magnifying-glass"></i> Consulta</a>
            </ul>
        </nav>
    </header>
<div class="centro">
    <h2>Bem-vindo à Biblioteca Midnight</h2>
    <p>Entre a vida e a morte, há uma biblioteca... E dentro dessa biblioteca, as prateleiras não têm fim. Cada livro oferece uma oportunidade...</p>
</div>

</body>
</html>