{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Sistema</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<body>
    <header>
        <h1>Sobre o Sistema</h1>
        <nav>
            <ul>
                <a href="/home/"><i class="fa-solid fa-house"></i> Home</a>
                <a href="/cadastro/"><i class="fa-solid fa-book"></i> Cadastro</a>
                <a href="/contato/"><i class="fa-solid fa-envelope"></i> Contato</a>
                <a href="/sobre/"><i class="fa-solid fa-info"></i> Sobre</a>
                <a href="/lista/"><i class="fa-solid fa-list"></i> Estante</a>
            </ul>
        </nav>
    </header>
<center>
    <div class="sobre">
    <h2>Biblioteca Midnight🌙</h2>
    <p>Bem-vindo à Biblioteca Midnight! Este sistema foi criado para ajudar você a cadastrar 
e organizar seus livros de forma simples e prática.<br><br>
Aqui é possível adicionar, editar e visualizar informações importantes sobre cada livro,
como título, autor, editora, ano de publicação, número de páginas, categoria e ISBN.<br><br>
A Biblioteca Midnight tem como objetivo facilitar o gerenciamento da sua coleção e tornar a organização 
da sua biblioteca pessoal muito mais rápida e eficiente.
</p>
</div>
</center>
</body>
</html>